textarea
	resize: none
.header
	padding-top: 50px
	padding-bottom: 50px
	&-container
		text-align: center
		.title
			&-link
				display: inline-block
				&-text
					color: #0DE3C2
					
.form-contaienr
	.main-form
.form-group
	display: flex
.form-button
	.btn-primary
		width: 100%
.books
	margin-top: 20px
	&-list
		text-align: center
		li
			display: inline-block
			margin: 5px
