@import url(http://fonts.googleapis.com/css?family=Raleway:700,800)
@mixin makeButton($height, $marginB, $fontS, $width)
	background: #079BCF
	border: none
	border-radius: 8px
	color: #fff
	cursor: pointer
	font-family: 'Raleway', sans-serif
	font-size:  $fontS
	height: $height
	width: $width
	margin-bottom: $marginB
	overflow: hidden
	transition: all .3s cubic-bezier(.6,0,.4,1)
@mixin makeArea($fontS)
	background: #fff
	font-family: 'Raleway', sans-serif
	opacity: 1
	text-indent: 20px
	transition: all .2s ease-in-out
	font-size: $fontS
	border: none
	border-radius: 8px
ul
	margin-left: 0
	padding-left: 0
	list-style-type: none
a, a:hover
	text-decoration: none
button, button:focus, button:active
	outline: none
textarea
	resize: none
body
	background: #6ED0F6
	color: #fff
	font-family: 'Raleway', sans-serif
	-webkit-font-smoothing: antialiased
form 
	width: 350px
input[type=text],
input[type=password]
	@include makeArea(27px)
	height: 72px
	width: 99.5%
	margin-bottom: 10px
	text-indent: 20px
.header
	&__title__link
		color: #FFFFFF
		span
			color: #3B56F9
	&__title__link:hover
		color: #FFFFFF
.modal
	&__pages
	&__statistics
		display: flex
		span.common__color
			color: #6ed0f6
			margin-left: 10px
	&__text
		color: #495057
.books
	width: 100%
	&__list
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		flex-flow: wrap
		li
			margin: 5px
			display: inline-block
	&__btn
		display: flex
		justify-content: flex-end
.book__card
	opacity: 0
	transition: all 1s ease
button.btn-primary
	@include makeButton(50px, 10px, 25px, 100%)
#book__descriptions
	@include makeArea(25px)
.card
	&-body
		color: #495057
		h5
			color: #6ed0f6
.modal
	&-header
		color: #495057
.col-description
	padding: 0
button.delete__btn
	position: absolute
	height: 32px
	width: 32px
	font-size: 21px
	border-radius: 4px
	top: 15px
	right: 15px
	background-color: #2c343c
	border: none
	color: #ffffff
	transition: all .5s ease
	&:hover
		color: #da2d29
button.btn-secondary
	@include makeButton(50px, 10px, 25px, 100%)
button.btn-show
	@include makeButton(150px, 10px, 25px, 100%)