textarea {
  resize: none; }

.header {
  padding-top: 50px;
  padding-bottom: 50px; }
  .header-container {
    text-align: center; }
    .header-container .title-link {
      display: inline-block; }
      .header-container .title-link-text {
        color: #0DE3C2; }

.form-group {
  display: flex; }

.form-button .btn-primary {
  width: 100%; }

.books {
  margin-top: 20px; }
  .books-list {
    text-align: center; }
    .books-list li {
      display: inline-block;
      margin: 5px; }
