ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none; }

body {
  display: flex; }

a, a:hover {
  text-decoration: none; }

textarea {
  resize: none; }

.card__body__pages {
  margin-left: 10px; }

.card__body__read {
  display: flex; }

.books {
  width: 100%; }
  .books__list li {
    margin: 5px;
    display: inline-block; }
  .books__btn {
    display: flex;
    justify-content: flex-end; }
